
/***********TODAY'S SPECIAL**************/
.todays-special
{
    display:grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
    margin: 0 30px 30px 30px;
    min-height:50vh;
}

.todays-special>div:nth-child(1)
{
    background-color: white;
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.todays-special>div:nth-child(1)>div
{
    display: grid;
    grid-template-columns: 1fr;
    height:100%;
    padding:5%;
}

.todays-special button
{
    width:150px;
    height:45px;
}

.todays-special button:hover
{
    background-color: black;
    border-color: white;
}

.ts-text
{
    background-color: #d62e2c;
    color: white;
    width:145px;
    height:35px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.todays-special>div>div:nth-child(1)
{
    font-size: 1.2rem;
}

.todays-special>div>div:nth-child(1)>h1
{
    font-size: 4rem;
}

.thirty-percent
{
    color: #7620ff;
}


/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 991.98px) 
{
    .todays-special
    {
        display:grid;
        grid-template-columns: 1fr;
        margin: 0 0px 30px 0px;
        width:auto;
    }

    .todays-special>div:nth-child(1)
    {
        
        min-height:40vh;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: left;
        padding:10%;   
    }
    


}

/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{

}