/***********DEALS & JUST IN***************/
.deals-just-in
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    min-height: 100%;
    color:var(--secondary-txt-color);
    margin: 30px 30px 0px 30px;
}

.section-one p
{
    font-weight: 100;
    font-size: 1.5rem;
}

.section-one h2
{
    font-weight: 600;
    font-size: 3rem;
}

.section-one button
{
    background-color: var(--secondary-bg-color);
    color:var(--primary-txt-color);
    border:solid;
    border-color: var(--secondary-bg-color);
    width: 120px;
    height:35px;
}

.section-one
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.section-one>div
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10%;
    align-items: center;
    padding:10%;
    height:100%;
}


/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 1380px) 
{
    .deals-just-in
    {
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        height: 100%;
        color:var(--secondary-txt-color);
        margin: 30px 0px 0px 0px;
    }

    .section-one
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom:30px;
    }
}

/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{

}