/***********DEALS & JUST IN***************/
.deals-just-in
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    height: 55vh;
    color:var(--secondary-txt-color);
    margin: 30px 30px 0px 30px;
}

.section-one p
{
    font-weight: 100;
    font-size: 1.5rem;
}

.section-one h2
{
    font-weight: 100;
    font-size: 3rem;
}

.section-one button
{
    background-color: var(--secondary-bg-color);
    color:var(--primary-txt-color);
    border:solid;
    border-color: var(--secondary-bg-color);
    width: 120px;
    height:35px;
}

.section-one>div
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    align-items: center;
    padding: 15%;
    
}