/***********DEALS & JUST IN***************/
.deals-just-in
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    min-height: 100%;
    color:var(--secondary-txt-color);
    margin: 30px 30px 0px 30px;
}

.section-one p
{
    font-weight: 100;
    font-size: 1.2rem;
}

.section-one h2
{
    font-weight: 600;
    font-size: 3rem;
}

.section-one button
{
    background-color: var(--secondary-bg-color);
    color:var(--primary-txt-color);
    border:solid;
    border-color: var(--secondary-bg-color);
    width: 130px;
    height:38px;
    font-size: 1rem;
}

.section-one button:hover
{
    background-color: transparent;
    color:white;
    border:solid 1px;
    border-color: white;
}

.section-one
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 60vh;
}

.section-one>div
{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8%;
    align-items: center;
    padding:10%;
    width:50%;
}


/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 991.98px) 
{
    .deals-just-in
    {
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        height: 100%;
        color:var(--secondary-txt-color);
        margin: 30px 0px 0px 0px;
     
    }

    .section-one
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom:30px;
    }
}

/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{
    .deals-just-in
    {
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        min-height: 100vh;
        color:var(--secondary-txt-color);
        margin: 30px 0px 0px 0px;
    }

    .section-one
    {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-bottom:30px;
    }
}