*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.hero-container
{
    background-image: url(../../assets/img/electronics-carousel-1.png);
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center;
    width:100vw;
    min-height:70vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2%;
}

.carousel-photos
{
    height:100%;
    width:100%;
    object-fit: cover;
}

.hero-container>div
{
    padding-left: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10%;
    line-height: 1.4;
}

.hero-container > div >div:nth-child(1)
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #d62e2c;
    color:var(--secondary-txt-color);
    width:120px;
    height:100%;
    font-weight: 100;
    font-size: 1.2rem;
}

.hero-container h1
{
    font-size: 3.2rem;
    letter-spacing: 1px;
}

.hero-container > div> p
{
    font-size: 1rem;
    margin-bottom: 5px;    
    letter-spacing: 1px;
}

.hero-container > div>button
{
    width:180px;
    height:250%;
}

.mobile-hero
{
    display: none;
}

/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 991.98px) 
{
    .hero-container
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        background-image: none;
        width:100vw;
       
        padding-left: 0;
        padding-top: 155px;
    }

    .hero-container div
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        padding-left: 0;
    }
}

/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{
    .hero-container h1
    {
        font-size: 2rem;
    }
}