*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.hero-container
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top:150px;
}

.carousel-photos
{
    height:100%;
    width:100%;
    object-fit: cover;
}

.hero-container>div:nth-child(1)
{
    padding-left: 200px;
    
}

.hero-container > div >div
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: #d62e2c;
    color:var(--secondary-txt-color);
    width:20%;
    height:auto;
    font-weight: 100;
    font-size: 1.2rem;
}

.hero-container h1
{
    font-size: 3rem;
}

.hero-container > div> p
{
    font-size: 1rem;
    margin-bottom: 5px;
}
