:root
{
    --primary-bg-color:white;
    --secondary-bg-color:#edecec;
    --tertiary-bg-color:black;

    --primary-txt-color:black;
    --secondary-txt-color:white;
    --tertiary-txt-color:#7620ff;

    --primary-btn-bg-color:#7620ff;
    --secondary-btn-bg-color:black;
}


/*CSS reset*/
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


/*UTILITIES  CLASSES*/

body 
{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .11px;
    background-color: var(--secondary-bg-color);
    width:auto;
}

img
{
    max-width: 1200px;
}

button
{
    background-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 100;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border-style:solid ;
    border-color: var(--primary-btn-bg-color);
    cursor: pointer;
}

/***********FOOTER******************/
footer
{
    background-color: white;
}

/***********HELP CENTER*****************/
.help-center
{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: left;
    height:450px;
    background-image: url("../img/electronics-headphones-1.png");
    background-position: right; 
    background-repeat: no-repeat;
    background-size:cover;
}

.help-center div
{
    background-color: black;
    color: white;
    width:40%;
}


/***********ACCEPTED PAYMENTS************/
.general
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;

}

#social-links li 
{
    display: inline-block;
    padding-right: 30px;
    color:var(--primary-txt-color);
}

#social-links a
{
    color:var(--primary-txt-color);
    font-size:1rem;
}

.acc-payments
{
    display:grid;
    grid-template-columns: 1fr;
    justify-items:center;
    margin: 20px 0 20px 0;
}

.acc-payments>p
{
    margin: 60px 40px;
}

.acc-payments img
{
    height:50px;
    width:auto;
    padding-right:30px;
}

.copyright
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top:16px;
    background-color: var(--secondary-bg-color);
    height:50px;
}

#wix-text>a
{
    color:black;
    text-decoration: underline;
}
