/**********SHOP BY CATEGORY*************/
.shop-by-category
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60%;
    align-items: center;
    background-color: var(--primary-bg-color);
    margin: 0 30px 30px 30px;
    width:auto;
    height:75vh;
    padding:5%;

}

.shop-by-category h4
{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


.shop-by-category>div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 10%;
    justify-items: center;
    align-items: center;
}

.section-four
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    cursor: pointer;
}


.section-four img
{
    height:200px;
    width:auto;
    border-radius: 50%;
}

.section-four h6
{
    font-size: 1rem;
}