/**********SHOP BY CATEGORY*************/
.shop-by-category
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    background-color: var(--primary-bg-color);
    justify-items: center;
    margin: 0 30px 30px 30px;
    min-height:100vh;
    width:95vw;
    padding:5%;

}

.shop-by-category h4
{
    font-size: 2rem;
    padding-top: 5%;
}


.shop-by-category>div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 10%;
    justify-items: center;
}

.section-four
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    height:100%;
    width:100%;
}

.section-four>div:nth-child(1)
{
    height:100%;
}


.section-four img
{
    height:90%;
    width:100%;
    border-radius: 50%;
    cursor: pointer;

}

.section-four h6
{
    font-size: 1rem;
}