/***********DEALS & JUST IN***************/
.deals-just-in
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:30px;
    height: 400px;
    color:var(--secondary-txt-color);
    margin: 30px 0px 30px 0;
    margin-bottom:0px;
}

.section-one p
{
    font-weight: 100;
    font-size: 1.5rem;
    
}

.section-one h2
{
    font-weight: 100;
    font-size: 3rem;
}

.section-one button
{
    background-color: var(--secondary-bg-color);
    color:var(--primary-txt-color);
    border:solid;
    border-color: var(--secondary-bg-color);
    width: 120px;
    height:35px;
}
/*
.section-one img
{
    width:100%;
    height:auto;
    z-index: -100;
    position:relative;
}*/

.section-one>div
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 100px 0 0 100px;
}